@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }

header{
    text-align: center;
}

#header {
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    background: #1589f5;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  #body{
    padding: 20px;
    text-align: center;
  }

  #body h5{
    padding: 10px;
    margin: 0px;
  }

  button{

    background-color: #456774;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #2a424b;
}

button:active{
    background-color: #1f3138;
    transform: translateY(3px);
}

.inputsection{
    display: flex;
    flex-direction: column;
}

#squareside{
    width: 300px;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
}